@model IEnumerable<DatabaseActivities.Models.Entity.ShippingContainer>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div>
<form action="~/ShippingContainer/WeightCompare" method="post">
    <input name="userWeight" />
    <input type="submit" name="submit" />
</form>
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.weight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.destination)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.weight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.destination)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
